<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhongkexinli.cloud.secrity.dal.SecGroupsMapper">
    <resultMap id="secGroupsResult" type="com.zhongkexinli.micro.serv.common.bean.secrity.SecGroups">
        <result property="id" column="id" jdbcType="INTEGER"   />
        <result property="remarks" column="remarks" jdbcType="VARCHAR"   />
        <result property="groupName" column="group_name" jdbcType="VARCHAR"   />
        <result property="createBy" column="create_by" jdbcType="INTEGER"   />
        <result property="createByUname" column="create_by_uName" jdbcType="VARCHAR"   />
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"   />
        <result property="updateBy" column="update_by" jdbcType="INTEGER"   />
        <result property="updateByUname" column="update_by_uName" jdbcType="VARCHAR"   />
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"   />
        <result property="enableFlag" column="enable_flag" jdbcType="VARCHAR"   />
        <result property="parentId" column="parent_id" jdbcType="INTEGER"   />
    </resultMap>

    <sql id="Base_Column_List">
        <![CDATA[
            id ,
            remarks ,
            group_name ,
            create_by ,
            create_by_uName ,
            create_date ,
            update_by ,
            update_by_uName ,
            update_date ,
            enable_flag ,
            parent_id 
        ]]>
    </sql>
    <select id="selectByInfoKey" resultType="java.util.Map">
         SELECT DISTINCT
			sf.id,
			sf.sec_previleges_url,
			sf.menu_name,
			sr.sec_ag_id,
			case sec_ag_id 
			when #{id} then 'true'
			else 'false'
			end AS flag
		  
		FROM
			`sec_privileges_config` sf
		LEFT JOIN sec_previlege_relation sr ON sf.id = sr.sec_privilege_id
    
    </select>
  
   <select id="selectGrouInfoByLogin"  parameterType="String"  resultType="java.util.Map">
     SELECT
			sg.group_name,
			sg.id sgId,
			sc.menu_name,
			sc.id menuId,
			sc.sec_previleges_url,
			sc.sec_parent_id
		FROM
			`sec_admin_user` su
			LEFT JOIN sec_groups sg ON su.sec_group_id = sg.id
			LEFT JOIN sec_previlege_relation sr ON sr.sec_ag_id = sg.id
			LEFT JOIN sec_privileges_config sc ON sc.id = sr.sec_privilege_id
		WHERE
			su.logini_no = #{loginNo}
      
   </select>
   <select id="selectByPrimaryKey" parameterType="java.lang.Integer"  resultMap="secGroupsResult">
     select 
        <include refid="Base_Column_List"/>
            from sec_groups 
            where 
               id= #{id,jdbcType=INTEGER}
    </select>

 <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sec_groups where
        id= #{id,jdbcType=INTEGER}
    </delete>

    
   <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
       
	   INSERT INTO  `sec_groups` (
				  `remarks`,
				`group_name`,
				`create_by`,
				`create_by_uName`,
				`create_date`,
				`update_by`,
				`update_by_uName`,
				`update_date`,
				`enable_flag`,
				`parent_id`
			)
				VALUES
					(
					 #{remarks}, 
					#{groupName},
					 #{createBy},
					 #{createByUname},
					 #{createDate}, 
					#{updateBy}, 
					#{updateByUname},
					#{updateDate}, 
					#{enableFlag},
					 #{parentId}        
					)
				       
</insert>


  <insert id="insertSelective" parameterType="com.zhongkexinli.micro.serv.common.bean.secrity.SecGroups">
          INSERT INTO sec_groups 
             <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
            <if test="groupName != null" >
                group_name,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createByUname != null" >
                create_by_uName,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateByUname != null" >
                update_by_uName,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

                <if test="id != null" >
                     #{id,jdbcType=INTEGER},
                </if>
                <if test="remarks != null" >
                     #{remarks,jdbcType=VARCHAR},
                </if>
                <if test="groupName != null" >
                     #{groupName,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null" >
                     #{createBy,jdbcType=INTEGER},
                </if>
                <if test="createByUname != null" >
                     #{createByUname,jdbcType=VARCHAR},
                </if>
                <if test="createDate != null" >
                     #{createDate,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null" >
                     #{updateBy,jdbcType=INTEGER},
                </if>
                <if test="updateByUname != null" >
                     #{updateByUname,jdbcType=VARCHAR},
                </if>
                <if test="updateDate != null" >
                     #{updateDate,jdbcType=TIMESTAMP},
                </if>
                <if test="parentId != null" >
                     #{parentId,jdbcType=INTEGER},
                </if>
        </trim>
 </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhongkexinli.micro.serv.common.bean.secrity.SecGroups">
        UPDATE sec_groups 
      <set >
        <if test="remarks != null" >
            remarks = #{remarks,jdbcType=VARCHAR} ,
        </if>
        <if test="groupName != null" >
            group_name = #{groupName,jdbcType=VARCHAR} ,
        </if>
        <if test="createBy != null" >
            create_by = #{createBy,jdbcType=INTEGER} ,
        </if>
        <if test="createByUname != null" >
            create_by_uName = #{createByUname,jdbcType=VARCHAR} ,
        </if>
        <if test="createDate != null" >
            create_date = #{createDate,jdbcType=TIMESTAMP}, 
        </if>
        <if test="updateBy != null" >
            update_by = #{updateBy,jdbcType=INTEGER} ,
        </if>
        <if test="updateByUname != null" >
            update_by_uName = #{updateByUname,jdbcType=VARCHAR} ,
        </if>
        <if test="updateDate != null" >
            update_date = #{updateDate,jdbcType=TIMESTAMP} ,
        </if>
        <if test="enableFlag != null" >
            enable_flag = #{enableFlag,jdbcType=VARCHAR} ,
        </if>
        <if test="parentId != null" >
            parent_id = #{parentId,jdbcType=INTEGER} ,
        </if>
     </set>
        WHERE 
            id = #{id,jdbcType=INTEGER} 
    </update>
   
    <update id="updateByPrimaryKey" >
        UPDATE sec_groups SET
            remarks = #{remarks} , group_name = #{groupName} , create_by = #{createBy} , create_by_uName = #{createByUname} , create_date = #{createDate} , update_by = #{updateBy} , update_by_uName = #{updateByUname} , update_date = #{updateDate} , enable_flag = #{enableFlag} , parent_id = #{parentId}  
        WHERE 
             id = #{id,jdbcType=INTEGER}             
</update>
    
    <select id="select" resultMap="secGroupsResult">
     select 
        <include refid="Base_Column_List"/>
            from sec_groups WHERE 1=1  
      
                 and  id = #{id,jdbcType=INTEGER}
                 and  remarks = #{remarks,jdbcType=VARCHAR}
                 and  group_name = #{groupName,jdbcType=VARCHAR}
                 and  create_by = #{createBy,jdbcType=INTEGER}
                 and  create_by_uName = #{createByUname,jdbcType=VARCHAR}
                 and  create_date = #{createDate,jdbcType=TIMESTAMP}
                 and  update_by = #{updateBy,jdbcType=INTEGER}
                 and  update_by_uName = #{updateByUname,jdbcType=VARCHAR}
                 and  update_date = #{updateDate,jdbcType=TIMESTAMP}
                 and  enable_flag = #{enableFlag,jdbcType=VARCHAR}
                 and  parent_id = #{parentId,jdbcType=INTEGER}
        
    </select>
      
<select id="selectByExample" resultMap="secGroupsResult" >
     select 
        <include refid="Base_Column_List"/>
       from sec_groups WHERE 1=1  
      
        <if test="groupName != null and groupName != ''" >
               and   group_name = #{groupName,jdbcType=VARCHAR}
        </if>
        <if test="createDateBegin != null and createDateBegin != ''" >
               <![CDATA[ and   create_date >= str_to_date(#{createDateBegin,jdbcType=VARCHAR},'%Y-%m-%d') ]]>
        </if>
        <if test="createDateEnd != null and createDateEnd != ''" >
                <![CDATA[ and   create_date <= str_to_date(#{createDateEnd,jdbcType=VARCHAR},'%Y-%m-%d') ]]>
        </if>
         <if test="id!=null"> and id=#{id}</if>
  </select>
  
  <select id="selectByPageExample"  resultType="java.util.HashMap" >
     select 
          id ,
            remarks ,
            group_name as groupName ,
            create_by as createBy ,
            create_by_uName as createByUname  ,
             date_format(create_date, '%Y-%m-%d %H:%i:%s' )  as createDate,
            update_by as updateBy  ,
            update_by_uName as updateByUname  ,
           date_format(update_date, '%Y-%m-%d %H:%i:%s' )  as updateDate,
            enable_flag  as enableFlag,
            parent_id as parentId ,
            (
                select count(1) as userCounts from sec_admin_user u where u.sec_group_id = g.id and
                u.enable_flag='1'
            )  as userCounts
            
       from sec_groups g WHERE 1=1  
      
        <if test="groupName != null and groupName != ''" >
               and   group_name = #{groupName,jdbcType=VARCHAR}
        </if>
        <if test="createDateBegin != null and createDateBegin != ''" >
               <![CDATA[ and   create_date >= str_to_date(#{createDateBegin,jdbcType=VARCHAR},'%Y-%m-%d') ]]>
        </if>
        <if test="createDateEnd != null and createDateEnd != ''" >
                <![CDATA[ and   create_date <= str_to_date(#{createDateEnd,jdbcType=VARCHAR},'%Y-%m-%d') ]]>
        </if>
            
  </select>
  <select id="selectByInfoKeyData" resultType="java.util.HashMap">
      SELECT * FROM `sec_privileges_config` 
  </select>
   <delete id="deleteByPrimaryGroupId">
      DELETE FROM sec_previlege_relation WHERE sec_ag_id=#{id}
   </delete>
   <insert id="insertURL">
       INSERT INTO `sec_previlege_relation` (
				`sec_ag_id`,
				`sec_privilege_id`
			)
			VALUES
				( #{gid}, #{ruiId})
   </insert>
   <select id="selectGrouipId" resultType="Integer">
       select sec_privilege_id FROM sec_previlege_relation WHERE sec_ag_id=#{id}
   </select>
   <select id="getParentId" resultType="Integer">
       SELECT sec_parent_id FROM sec_privileges_config GROUP BY sec_parent_id
   </select>
   <select id="getClassInfoByparaenId" resultType="java.util.HashMap">
     SELECT * FROM sec_privileges_config WHERE sec_parent_id=#{parentId}
   </select>
   <select id="getGroupInfoByid" resultType="java.util.HashMap">
   SELECT * FROM sec_privileges_config WHERE id=#{parentId}</select>
   <select id="selectGroupInfoByPareintId" resultType="java.util.HashMap">
   SELECT * FROM sec_privileges_config  where 1=1
	  <if test="pids!=null">
		    AND     id  in
		 <foreach item="item" index="index" collection="pids" open="(" separator="," close=")">  
		     #{item}  
		 </foreach> 
		 </if>
   </select>
</mapper>
